{{extend 'layout_frontend.html'}}
<div class="main">
	
	<div class="main-inner">

	    <div class="container">
	
	      <div class="row">
	      	
	      	<div class="span6">
	      		
	      		<div class="widget">
						
					<div class="widget-header">
						<i class="icon-star"></i>
						<h3>Estadísticas</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						
						<div class="stats">
							
							
							
						</div> <!-- /stats -->
						
						
						<div id="chart-stats" class="stats">
							
							<div class="stat stat-chart">							
								<div id="donut-chart" class="chart-holder"></div> <!-- #donut -->							
							</div> <!-- /substat -->
							
						</div> <!-- /substats -->
						
					</div> <!-- /widget-content -->
						
				</div> <!-- /widget -->	
						
											
				<div class="widget">
					
					<div class="widget-header">
						<i class="icon-file"></i>
						<h3>Content</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						
						
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>					
						
					</div> <!-- /widget-content -->
				
				</div> <!-- /widget -->
	      		
		    </div> <!-- /span6 -->
	      	
	      	
	      	<div class="span6">		
						
				<div class="widget">
						
					<div class="widget-header">
						<i class="icon-signal"></i>
						<h3>Chart</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">					
						<div id="area-chart" class="chart-holder"></div>					
					</div> <!-- /widget-content -->
				
				</div> <!-- /widget -->		
						
				<div class="widget widget-table action-table">
						
					<div class="widget-header">
						<i class="icon-th-list"></i>
						<h3>Table</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Engine</th>
									<th>Browser</th>
									<th class="td-actions"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Trident</td>
									<td>Internet
										 Explorer 4.0</td>
									<td class="td-actions">
										<a href="javascript:;" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										
										<a href="javascript:;" class="btn btn-small">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
									</td>
								</tr>
								<tr>
									<td>Trident</td>
									<td>Internet
										 Explorer 5.0</td>
									<td class="td-actions">
										<a href="javascript:;" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										
										<a href="javascript:;" class="btn btn-small">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
									</td>
								</tr>
								<tr>
									<td>Trident</td>
									<td>Internet
										 Explorer 5.5</td>
									<td class="td-actions">
										<a href="javascript:;" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										
										<a href="javascript:;" class="btn btn-small">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
									</td>
								</tr>
								<tr>
									<td>Trident</td>
									<td>Internet
										 Explorer 5.5</td>
									<td class="td-actions">
										<a href="javascript:;" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										
										<a href="javascript:;" class="btn btn-small">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
									</td>
								</tr>
								<tr>
									<td>Trident</td>
									<td>Internet
										 Explorer 5.5</td>
									<td class="td-actions">
										<a href="javascript:;" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										
										<a href="javascript:;" class="btn btn-small">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
									</td>
								</tr>
								<tr>
									<td>Trident</td>
									<td>Internet
										 Explorer 5.5</td>
									<td class="td-actions">
										<a href="javascript:;" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										
										<a href="javascript:;" class="btn btn-small">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
									</td>
								</tr>
								</tbody>
							</table>
						
					</div> <!-- /widget-content -->
				
				</div> <!-- /widget -->
									
		      </div> <!-- /span6 -->

		      <div class="span12">
		      	<div class="widget">
						
					<div class="widget-header">
						<i class="icon-bookmark"></i>
						<h3>Quick Shortcuts</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						
						<div class="shortcuts">
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-list-alt"></i>
								<span class="shortcut-label">Apps</span>
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-bookmark"></i>
								<span class="shortcut-label">Bookmarks</span>								
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-signal"></i>
								<span class="shortcut-label">Reports</span>	
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-comment"></i>
								<span class="shortcut-label">Comments</span>								
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-user"></i>
								<span class="shortcut-label">Users</span>
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-file"></i>
								<span class="shortcut-label">Notes</span>	
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-picture"></i>
								<span class="shortcut-label">Photos</span>	
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-tag"></i>
								<span class="shortcut-label">Tags</span>
							</a>				
						</div> <!-- /shortcuts -->	
					
					</div> <!-- /widget-content -->
					
				</div> <!-- /widget -->
		      </div>
	      	
	      </div> <!-- /row -->
	
	    </div> <!-- /container -->
	    
	</div> <!-- /main-inner -->
    
</div> <!-- /main -->
    


<div class="extra">

	<div class="extra-inner">

		<div class="container">

			<div class="row">
				
    			<div class="span3">
    				
    				<h4>About</h4>
    				
    				<ul>
    					<li><a href="javascript:;">About Us</a></li>
    					<li><a href="javascript:;">Twitter</a></li>
    					<li><a href="javascript:;">Facebook</a></li>
    					<li><a href="javascript:;">Google+</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Support</h4>
    				
    				<ul>
    					<li><a href="javascript:;">Frequently Asked Questions</a></li>
    					<li><a href="javascript:;">Ask a Question</a></li>
    					<li><a href="javascript:;">Video Tutorial</a></li>
    					<li><a href="javascript:;">Feedback</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Legal</h4>
    				
    				<ul>
    					<li><a href="javascript:;">License</a></li>
    					<li><a href="javascript:;">Terms of Use</a></li>
    					<li><a href="javascript:;">Privacy Policy</a></li>
    					<li><a href="javascript:;">Security</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    			<div class="span3">
    				
    				<h4>Settings</h4>
    				
    				<ul>
    					<li><a href="javascript:;">Consectetur adipisicing</a></li>
    					<li><a href="javascript:;">Eiusmod tempor </a></li>
    					<li><a href="javascript:;">Fugiat nulla pariatur</a></li>
    					<li><a href="javascript:;">Officia deserunt</a></li>
    				</ul>
    				
    			</div> <!-- /span3 -->
    			
    		</div> <!-- /row -->

		</div> <!-- /container -->

	</div> <!-- /extra-inner -->

</div> <!-- /extra -->
