{{extend 'layout_frontend_facturas.html'}}
<div class="main">
    <div class="main-inner">
        <div class="container">
        	<div class="row">
        		<div class="span10">
						
					<div class="widget">	
						<div class="widget-header">
							<span class="icon-check"></span>
							<h3>Introduce un concepto o artículo...</h3>
						</div> <!-- .widget-header -->
						<div class="widget-content">
							<div class="accordion" id="accordion2">
							  <div class="accordion-group">
							    <div class="accordion-heading">
							      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							        <b>Introduce un concepto</b>
							      </a>
							    </div>
							    <div id="collapseOne" class="accordion-body collapse in">
							     
							     <div class="accordion-inner">
							     	{{=formConcepto}}	
							     </div>
							    </div>
							  </div>
							  <div class="accordion-group">
							    <div class="accordion-heading">
							      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
							        <b>Introduce un artículo de la base de datos</b>
							      </a>
							    </div>
							    <div id="collapseTwo" class="accordion-body collapse">
							      <div class="accordion-inner">
							        <form id="nuevaConcepto" class="form-horizontal" name="nuevoArticulos">
										<fieldset>
											<div class="control-group">											
												<label class="control-label" for="titulo">Artículo</label>
												<div class="controls">	
													<input type="text" class="input-xxlarge" id="titulo" value="">
												</div>			
											</div> <!-- /control-group -->
											<div class="control-group">											
												<label class="control-label" for="cantidad">Cantidad</label>
												<div class="controls">	
													<input type="text" class="input-large" id="cantidad" value="1">
												</div>
											</div> <!-- /control-group -->
											<div class="control-group">											
												<label class="control-label" for="precio">Precio</label>
												<div class="controls">	
													<input type="text" class="input-large" id="precio" value="">
												</div>		
											</div> <!-- /control-group -->
											<div class="control-group">	
												<div class="controls">
													<button type="submit" class="btn btn-primary">Insertar</button>
												</div>
											</div> <!-- /control-group -->
											
										
										</fieldset>
										
									</form>
									
							      </div>
							    </div>
							  </div>
							</div>
							
						</div> <!-- .widget-content -->

					</div> <!-- .widget widget-table -->

                </div>
                <div class="span2">
                	<div class="widget big-stats-container">
						<div class="widget-content">
							<div id="big_stats" class="cf">
								<div class="stat">
									<h4>Base imponible</h4>
									<span class="value-modificado">{{=neto}} €</span>
								</div>
							</div>
							<div id="big_stats" class="cf">
								<div class="stat">
									<h4>IVA</h4>
									<span class="value-modificado">{{=totalIVA}} €</span>
								</div>
							</div>
						</div> <!-- /widget-content -->
					</div> <!-- /widget big-stats-container -->
					<div class="widget big-stats-container">
						<div class="widget-content">
							<div id="big_stats" class="cf">
								<div class="stat">
									<h3>Total</h3>
									<span class="value-modificado-total">{{=totalBruto}} €</span>
								</div>
							</div>
						</div> <!-- /widget-content -->
					</div> <!-- /widget big-stats-container -->
                </div>
                
       		</div>
       		<div class="row">
        		<div class="span12">
					<div class="widget widget-table">	
						<div class="widget-header">
							<span class="icon-check"></span>
							<h3>Detalle de la factura</h3>
						</div> <!-- .widget-header -->
						<div class="widget-content">
							<table class="table table-bordered table-striped">
								<thead>
								<tr>								
									<th>Concepto / Artículo</th>
									<th>Cantidad</th>
									<th>Precio</th>
                                    <th>Acciones</th>								
								</tr>
								</thead>
								<tbody>
									{{for linea in lineas:}}
										<tr>
											<td class="articulo">{{=linea.articulo}}</td>
											<td class="cantidad">{{=linea.cantidad}}</td>
											<td class="precio">{{=linea.precio}}</td>
											<td class="td-actions">
												<a href="/rosan/facturas/detalleFactura/" class="btn btn-small btn-primary">
													<i class="btn-icon-only icon-eye-open"></i>					
												</a>
												<!-- Modal -->
												
												<a href="#myModal{{=linea.id}}" class="btn btn-small btn-danger " data-toggle="modal">
													<i class="btn-icon-only icon-remove"></i>										
												</a>
												<div id="myModal{{=linea.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			                                        <div class="modal-header">
			                                        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			                                        	<h3 id="myModalLabel">¿Quieres eliminar esta linea de la factura?</h3>
			                                        </div>
			                                        <div class="modal-body">
			                                        	<p>Vas a eliminar la siguiente línea de la factura</p>
			                                        	<p>{{=linea.id}}</p>
			                                        </div>
			                                        <div class="modal-footer">
			                                        	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
			                                            <a href="/rosan/facturas/eliminarLineaTemp/{{=linea.id}}" class="btn btn-danger">Eliminar</a>
			                                        </div>
		                                        </div>

											</td>

										</tr>
									{{pass}}
								</tbody>
							</table>	
						</div> <!-- .widget-content -->
					</div> <!-- .widget widget-table -->
                </div>
        </div>     
	</div>
</div>


