{{extend 'layout_frontend_facturas.html'}}
<div class="main">
    <div class="main-inner">
        <div class="container">
        	<div class="row">
        		<div class="span9">
					<div class="widget widget-table">	
						<div class="widget-header">
							<span class="icon-check"></span>
							<h3>Facturas</h3>
						</div> <!-- .widget-header -->
						<div class="widget-content">
							<table class="table table-bordered table-striped">
								<thead>
								<tr>								
									<th>Nº</th>
									<th>Cliente</th>
									<th>Título</th>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                    <th>Acciones</th>								
								</tr>
								</thead>
							<tbody>
							{{for factura in facturas:}}
										<tr>
											<td class="numero">{{=factura.numero}}</td>
											<td class="cliente">{{=factura.id_cliente.nombre}}</td>
											<td class="numero">{{=factura.titulo}}</td>
											<td class="Fecha">{{=factura.fecha}}</td>
											<td class="Total">{{=factura.total_bruto}}</td>
											<td class="td-actions">
												<a href="/rosan/facturas/verFactura/{{=factura.id}}" class="btn btn-small btn-primary">
													<i class="btn-icon-only icon-eye-open"></i>					
												</a>
												<!-- Modal -->
												
												<a href="#myModal{{=factura.id}}" class="btn btn-small btn-danger " data-toggle="modal">
													<i class="btn-icon-only icon-remove"></i>										
												</a>
												<div id="myModal{{=factura.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			                                        <div class="modal-header">
			                                        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			                                        	<h3 id="myModalLabel">¿Quieres eliminar esta actura?</h3>
			                                        </div>
			                                        <div class="modal-body">
			                                        	<p>Vas a eliminar la factura nº <b>{{=factura.id}}</b> con título <b>{{=factura.titulo}}</b></p>
			                                        </div>
			                                        <div class="modal-footer">
			                                        	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
			                                            <a href="/rosan/facturas/eliminar/{{=factura.id}}" class="btn btn-danger">Eliminar</a>
			                                        </div>
		                                        </div>

											</td>

										</tr>

									{{pass}}
							</tbody>
						</table>	
						</div> <!-- .widget-content -->
					</div> <!-- .widget widget-table -->
                </div>
                <div class="span3">
                	<div class="widget widget-plain">
					<div class="widget-content">
						<a href="/rosan/facturas/nuevaFactura" class="btn btn-large btn-warning btn-support-ask">Nueva factura</a>	
					</div> <!-- /widget-content -->
					</div>
                </div>
                
       		</div>
        </div>     
	</div>
</div>
