{{extend 'layout_frontend_facturas.html'}}
<div class="main">
    <div class="main-inner">
        <div class="container">
        	<div class="row">
        		<div class="span9">
					<div class="widget widget-table">	
						<div class="widget-header">
							<span class="icon-check"></span>
							<h3>Facturas</h3>
						</div> <!-- .widget-header -->
						<div class="widget-content">
							<table class="table table-bordered table-striped">
								<thead>
								<tr>								
									<th>Nº</th>
									<th>Cliente</th>
									<th>Título</th>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                    <th>Acciones</th>								
								</tr>
								</thead>
							<tbody>
							<tr>
								<td class="numero">1</td>
								<td class="cliente">Damaplast S.L.</td>
								<td class="titulo">Los Arqueros Fase I</td>
                                <td class="fecha"> 27/08/1975</td>
                                <td class="Total">27000,50 €</td>
								<td class="td-actions">
										<a href="#myModal" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										<!-- Modal -->
										
										<a href="#myModal" class="btn btn-small" data-toggle="modal">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
										<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-header">
                                        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        	<h3 id="myModalLabel">¿Quieres eliminar este factura?</h3>
                                        </div>
                                        <div class="modal-body">
                                        	<p>¿estás seguro?… ¿¿pero de verdad de la buena??</p>
                                        </div>
                                        <div class="modal-footer">
                                        	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                            <a href="./clientes/" class="btn btn-primary">Eliminar factura</a>
                                        </div>
                                        </div>
								</td>
							</tr>
							<tr>
								<td class="numero">2</td>
								<td class="cliente">Taylor Woodrow</td>
								<td class="titulo">Los Arqueros Fase I</td>
                                <td class="fecha"> 27/08/1975</td>
                                <td class="Total">27000,50 €</td>
								<td class="td-actions">
										<a href="#myModal2" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										<!-- Modal -->
										
										<a href="#myModal2" class="btn btn-small" data-toggle="modal">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
										<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-header">
                                        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        	<h3 id="myModalLabel">¿Quieres eliminar este cliente?</h3>
                                        </div>
                                        <div class="modal-body">
                                        	<p>¿estás seguro?…</p>
                                        </div>
                                        <div class="modal-footer">
                                        	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                            <a href="./clientes/" class="btn btn-primary">Eliminar</a>
                                        </div>
                                        </div>
								</td>
							</tr>
							<tr>
								<td class="numero">1</td>
								<td class="cliente">Damaplast S.L.</td>
								<td class="titulo">Los Arqueros Fase I</td>
                                <td class="fecha"> 27/08/1975</td>
                                <td class="Total">27000,50 €</td>
								<td class="td-actions">
										<a href="#myModal" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										<!-- Modal -->
										
										<a href="#myModal" class="btn btn-small" data-toggle="modal">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
										<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-header">
                                        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        	<h3 id="myModalLabel">¿Quieres eliminar este cliente?</h3>
                                        </div>
                                        <div class="modal-body">
                                        	<p>¿estás seguro?…</p>
                                        </div>
                                        <div class="modal-footer">
                                        	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                            <a href="./clientes/" class="btn btn-primary">Eliminar</a>
                                        </div>
                                        </div>
								</td>
							</tr>
							<tr>
								<td class="numero">1</td>
								<td class="cliente">Damaplast S.L.</td>
								<td class="titulo">Los Arqueros Fase I</td>
                                <td class="fecha"> 27/08/1975</td>
                                <td class="Total">27000,50 €</td>
								<td class="td-actions">
										<a href="#myModal" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										<!-- Modal -->
										
										<a href="#myModal" class="btn btn-small" data-toggle="modal">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
										<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-header">
                                        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        	<h3 id="myModalLabel">¿Quieres eliminar este cliente?</h3>
                                        </div>
                                        <div class="modal-body">
                                        	<p>¿estás seguro?…</p>
                                        </div>
                                        <div class="modal-footer">
                                        	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                            <a href="./clientes/" class="btn btn-primary">Eliminar</a>
                                        </div>
                                        </div>
								</td>
							</tr>
							<tr>
								<td class="numero">1</td>
								<td class="cliente">Damaplast S.L.</td>
								<td class="titulo">Los Arqueros Fase I</td>
                                <td class="fecha"> 27/08/1975</td>
                                <td class="Total">27000,50 €</td>
								<td class="td-actions">
										<a href="#myModal" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										<!-- Modal -->
										
										<a href="#myModal" class="btn btn-small" data-toggle="modal">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
										<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-header">
                                        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        	<h3 id="myModalLabel">¿Quieres eliminar este cliente?</h3>
                                        </div>
                                        <div class="modal-body">
                                        	<p>¿estás seguro?…</p>
                                        </div>
                                        <div class="modal-footer">
                                        	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                            <a href="./clientes/" class="btn btn-primary">Eliminar</a>
                                        </div>
                                        </div>
								</td>
							</tr>
							<tr>
								<td class="numero">1</td>
								<td class="cliente">Damaplast S.L.</td>
								<td class="titulo">Los Arqueros Fase I</td>
                                <td class="fecha"> 27/08/1975</td>
                                <td class="Total">27000,50 €</td>
								<td class="td-actions">
										<a href="#myModal" class="btn btn-small btn-warning">
											<i class="btn-icon-only icon-ok"></i>										
										</a>
										<!-- Modal -->
										
										<a href="#myModal" class="btn btn-small" data-toggle="modal">
											<i class="btn-icon-only icon-remove"></i>										
										</a>
										<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-header">
                                        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        	<h3 id="myModalLabel">¿Quieres eliminar este cliente?</h3>
                                        </div>
                                        <div class="modal-body">
                                        	<p>¿estás seguro?…</p>
                                        </div>
                                        <div class="modal-footer">
                                        	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                            <a href="./clientes/" class="btn btn-primary">Eliminar</a>
                                        </div>
                                        </div>
								</td>
							</tr>	
						</tbody>
						</table>	
						</div> <!-- .widget-content -->
					</div> <!-- .widget widget-table -->
                </div>
                <div class="span3">
                	<div class="widget widget-plain">
					<div class="widget-content">
						<a href="/rosan/facturas/nuevaFactura" class="btn btn-large btn-warning btn-support-ask">Nueva factura</a>	
					</div> <!-- /widget-content -->
					</div>
                </div>
                
       		</div>
        </div>     
	</div>
</div>
