{{extend 'layout_frontend_facturas.html'}}
<div class="main">
    <div class="main-inner">
        <div class="container">
        	<div class="row">
        		<div class="span9">
					<div class="widget">	
						<div class="widget-header">
							<span class="icon-check"></span>
							<h3>Nueva Factura - Datos generales</h3>
						</div> <!-- .widget-header -->
						<div class="widget-content">
							<form id="nuevaFacturaForm" class="form-horizontal">
									<fieldset>
										<div class="control-group">											
											<label class="control-label" for="fechaFactura">Fecha</label>
											<div class="controls">	
												<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
													<input class="span2" size="16" type="text" value="12-02-2012" name="fechaFactura" readonly>
													<span class="add-on">
														<i class="icon-th"></i>
													</span>
												</div>
											</div>			
										</div> <!-- /control-group -->
										<div class="control-group">											
											<label class="control-label" for="titulo">Título</label>
											<div class="controls">	
												<input type="text" class="input-xxlarge" id="titulo" value="">
											</div>			
										</div> <!-- /control-group -->
										<div class="control-group">											
											<label class="control-label" for="cliente">Cliente</label>
											<div class="controls controls">	
												<select class="span4">
													<option>cliente1</option>
													<option>cliente2</option>
												</select>
											</div>			
										</div> <!-- /control-group -->
										<div class="control-group">											
											<label class="control-label" for="iva">IVA (%)</label>
											<div class="controls control-row">	
												<select class="span2">
													<option value="0">IVA 0%</option>
													<option value="5">IVA 5%</option>
													<option value="10">IVA 10%</option>
													<option value="21">IVA 21%</option>
												</select>
											</div>			
										</div> <!-- /control-group -->
										<div class="control-group">											
											<label class="control-label" for="iva">Retención:</label>
											<div class="controls">	
												<select class="span2">
													<option value="0">No</option>
													<option value="5">Retención 5%</option>
												</select>
											</div>			
										</div> <!-- /control-group -->
										<div class="control-group">	
											<div class="controls">
												<label class="checkbox">
													<input type="checkbox" value="False">
													Pagada
												</label>
											</div>
										</div> <!-- /control-group -->
									</fieldset>
							</form>
										
										
										
						</div> <!-- .widget-content -->
					</div> <!-- .widget widget-table -->
                </div>
                <div class="span3">
                	<div class="widget widget-plain">
					<div class="widget-content">
						<a href="/rosan/facturas/nuevaFactura" class="btn btn-large btn-warning btn-support-ask">Nueva factura</a>	
					</div> <!-- /widget-content -->
					</div>
                </div>
                
       		</div>
        </div>     
	</div>
</div>


