{{extend 'layout_frontend_facturas.html'}}
<div class="main">
    <div class="main-inner">
        <div class="container">
        	<div class="row">
        		<div class="span9">
					<div class="widget widget-table">	
						<div class="widget-header">
							<span class="icon-check"></span>
							<h3>Nueva Factura - Datos generales</h3>
						</div> <!-- .widget-header -->
						<div class="widget-content">
							
						</div> <!-- .widget-content -->
					</div> <!-- .widget widget-table -->
                </div>
                <div class="span3">
                	<div class="widget widget-plain">
					<div class="widget-content">
						<a href="/rosan/facturas/nuevaFactura" class="btn btn-large btn-warning btn-support-ask">Nueva factura</a>	
					</div> <!-- /widget-content -->
					</div>
                </div>
                
       		</div>
        </div>     
	</div>
</div>
