{{extend 'layout_frontend_clientes.html'}}
<div class="main">
    <div class="main-inner">
        <div class="container">
        	<div class="row">
        		<div class="span9">
					<div class="widget widget-table">	
						<div class="widget-header">
							<span class="icon-user"></span>
							<h3>Clientes</h3>
						</div> <!-- .widget-header -->
						<div class="widget-content">
							<table class="table table-bordered table-striped">
								<thead>
								<tr>								
									<th>Nombre</th>
									<th>CIF</th>
									<th>@email</th>
                                    <th>Acciones</th>								
								</tr>
								</thead>
								<tbody>
									{{for cliente in clientes:}}
										<tr>
											<td class="description">{{=cliente.nombre}}</td>
											<td class="cif">{{=cliente.cif}}</td>
											<td class="email">{{=cliente.email}}</td>
											<td class="td-actions">
												<a href="" class="btn btn-small btn-warning">
													<i class="btn-icon-only icon-ok"></i>										
												</a>
												<!-- Modal -->
												
												<a href="#myModal{{=cliente.id}}" class="btn btn-small" data-toggle="modal">
													<i class="btn-icon-only icon-remove"></i>										
												</a>
												<div id="myModal{{=cliente.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			                                        <div class="modal-header">
			                                        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			                                        	<h3 id="myModalLabel">¿Quieres eliminar este cliente?</h3>
			                                        </div>
			                                        <div class="modal-body">
			                                        	<p>¿estás seguro?…</p>
			                                        </div>
			                                        <div class="modal-footer">
			                                        	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
			                                            <a href="/rosan/clientes/eliminar/{{=cliente.id}}" class="btn btn-primary">Eliminar</a>
			                                        </div>
		                                        </div>
											</td>

										</tr>

									{{pass}}
								</tbody>
							</table>	
						</div> <!-- .widget-content -->
					</div> <!-- .widget widget-table -->


                	</div>
                	<div class="span3">
                		<div class="widget widget-plain">
						<div class="widget-content">
							<a href="/rosan/clientes/nuevoCliente" class="btn btn-large btn-warning btn-support-ask">Nuevo cliente</a>	
					</div> <!-- /widget-content -->
					</div>
                </div>
                
       		</div>
        </div>     
	</div>
</div>
