{{extend 'layout_frontend_clientes.html'}}
<div class="main">
    <div class="main-inner">
        <div class="container">
        	<div class="row">
        		<div class="span9">
        			<div class="widget">
        				<div class="widget-header">
        					<i class="icon-user"></i>
        					<h3>Nuevo cliente</h3>
        				</div>
        				<div class="widget-content">
			        			{{if errores != '':}}
			        				<div class="alert alert-error">
			        					<button type="button" class="close" data-dismiss="alert">x</button>
			        					{{=errores}}
			        				</div>
			        			{{elif info != '':}}
			        				<div class="alert alert-info">
			        					<button type="button" class="close" data-dismiss="alert">x</button>
			        					{{=info}}        					
			        				</div>
			        			{{pass}}
								{{=form}}
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="widget-header">
						<i class="icon-cog"></i>
        				<h3>Opciones</h3>
					</div>
					<div class="widget-content">
						<a href="/rosan/clientes/index" class="btn btn-large btn-warning btn-support-ask">Volver</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

